.big_img{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url('https://res.cloudinary.com/daimwhvru/image/upload/f_webp,q_auto/v1744806386/big_tcxqbl.jpg') center/cover no-repeat;
    overflow: hidden;
}




.big_img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--img-color);
    opacity: 0.3;
}

.big_img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to top,
    #000000 0%,      
    #16181655 35%,    
    #5a7d6e66 100%    
  );
  mix-blend-mode:multiply;
  opacity: 0.6; 
}

.container{
    position: relative;
    left: 0;
    top: calc(50% - 80px);
    z-index: 2;
    overflow: hidden;
}
.la_h2{
    color: var(--text-block-color);
    font-weight: 700;
    font-size: var(--size-big-pro);
    letter-spacing: 0.8rem;
}
.la_p{
    color: var(--text-block-color);
    margin: var(--margin-xs) 0px var(--margin-m) 0px;
    font-size:var(--size-s);
    font-weight:300;
    letter-spacing: 0.1rem;
}
.btn{
    background-color:rgba(240, 248, 255, 0);
    cursor: pointer;
    color: var(--text-block-color);
    padding: 10px 30px;
    border: var(--border-width)  solid var(--text-block-color);
    border-radius: var(--border-radius);
    font-size:var(--size-s);
    letter-spacing: 0.1rem;
    font-weight:300;
    width: auto;
    height: auto;    
    transition: all 0.3s ease-in-out;
}
.btn:hover{ 
    background-color:var(--text-block-color);
    color: #576E61;
    font-weight:400;
}
.fogLayer {
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 100%;
  z-index: 1; /* 位於字下方、背景上方 */
  pointer-events: none; /* 不要擋住點擊 */
  overflow: hidden;
  mix-blend-mode:exclusion;
  
}


.fog {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-repeat: repeat-x;
  background-size: cover;
  opacity: 0.8;
  animation: fogMove 20s linear infinite;
  
  
  filter: 

  brightness(0.7)       /* 降低亮度，讓霧變暗沉 */
  drop-shadow(16px 16px 20px #005b26) 
  blur(4px)          /* 模糊度視需求調整 */
}

.fog1 {
  background-image: url("https://64.media.tumblr.com/224f9198d5d88a5e92e43f5ef4f7a592/139ff9bb70edd708-66/s540x810/0edbf6d586b6b4c85c5bd61569992f036c21191b.png");
  animation-duration: 20s;
  
}

.fog2 {
  background-image: url("https://64.media.tumblr.com/224f9198d5d88a5e92e43f5ef4f7a592/139ff9bb70edd708-66/s540x810/0edbf6d586b6b4c85c5bd61569992f036c21191b.png");
  top: 20px;
  opacity: 0.25;
  animation-duration: 40s;
  animation-direction: reverse;
  
  

}

.fog3 {
  background-image: url("https://64.media.tumblr.com/224f9198d5d88a5e92e43f5ef4f7a592/139ff9bb70edd708-66/s540x810/0edbf6d586b6b4c85c5bd61569992f036c21191b.png");
  top: 40px;
  opacity: 0.2;
  animation-duration: 80s;
  
}

@keyframes fogMove {
    0% {
      transform: translateX(0%);
      opacity: 0;
    }
    5% {
      opacity: 0.7;
    }
    90% {
      opacity: 0.7;
    }
    100% {
      transform: translateX(-50%);
      opacity: 0;
    }
  }



  /* 手機 */
@media (max-width: 576px) {
    .container{
        top: 50%;
        display: flex;
        flex-direction: column;
        transform:translateY(-50%);
        align-items: center; /* 讓所有內容水平置中 */
    }
    .la_h2{
        font-size:var(--size-big-pro);
        letter-spacing: unset;

    }
    .la_p{
        font-size:var(--size-xs);
        letter-spacing:unset;
       
    }
    .btn{
        font-size:var(--size-xs);
    }
}

@media (max-width: 370px) {
    .big_img{
        width: 100%;
        height: 100vh; /* 讓它填滿整個手機畫面高度 */
        aspect-ratio: unset; /* 取消原本的 aspect-ratio，避免影響高度 */
    }
    .container{
        top: 50%;
        display: flex;
        flex-direction: column;
        transform:translateY(-50%);
        align-items: center; /* 讓所有內容水平置中 */
    }
    .la_h2{
        font-size: 3rem;

    }
    .la_p{
        font-size:0.9rem;
    }
    .btn{
        font-size:0.9rem;
    }
}