.bg {
    width: 100%;
    padding: var(--margin-big) 0;
    position: relative;
    overflow: hidden;
    height: auto;
    background: url('/svg/訂閱背景.svg') center/cover no-repeat;
    
}

/* 移除偽元素 .bg::before，改用實體元素 .bgBefore */
.bgBefore {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #576e614d;
    z-index: 0;
    backdrop-filter: blur(var(--blur, 0px));
    -webkit-backdrop-filter: blur(var(--blur, 0px)); /* Safari */
    transition: all 2s ease-in-out;
    /* filter 的值由 Framer Motion 控制 */
}

.bg::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--img-color);
    opacity: 0.3;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-bottom: var(--margin-big);
    position: relative;
    z-index: 2;  /* 確保內容在最上層 */
    overflow: hidden;
}

.text {
    color: var(--text-block-color);
    font-size: var(--size-m);
    font-weight: 700;
    margin: 0 var(--margin-s);
}

.line {
    width: var(--size-big);
    height: 3.5px;
    background-color: var(--text-block-color);
}

.down{
    display: flex;
    align-items: center;
    justify-content: right;
    flex-direction: row;
    margin-bottom: var(--margin-big);
    position: relative;
    z-index: 2;  /* 確保內容在最上層 */
}
.div_img{
    position: absolute;
    left: 0;
}
.img{
    width: 100%;

}

.word{
    width: 56%;
    height: auto;
    background-color: var(--plan-color);
    border-radius: var(--border-radius) ;
    padding: var(--margin-big) ;
    backdrop-filter: blur(10px);  /* 毛玻璃效果 */
    -webkit-backdrop-filter: blur(10px);  /* Safari 支援 */
}
.h2 {
    color: var(--text-block-color);
    font-size: var(--size-m);
    font-weight: 700;
    margin: 0;
    letter-spacing: 0.15rem;
}
.h3 {
    color: var(--text-block-color);
    font-size: var(--size-s);
    font-weight: 700;
    margin:var(--margin-xs) 0px;
    letter-spacing: 0.15rem;
}


.btn{
    background-color:rgba(240, 248, 255, 0);
    cursor: pointer;
    color: var(--text-block-color);
    padding: 10px 30px;
    border: 2.25px  solid var(--text-block-color);
    border-radius: var(--border-radius);
    font-size:var(--size-s);
    letter-spacing: 0.1rem;
    font-weight: 700;
    width: 100%;
    height: auto;    
    transition: all 0.3s ease-in-out;
    margin-top: var(--margin-s);
}
.btn:hover{ 
    background-color:var(--text-block-color);
    color: var(--bg-block-color);
}

@media (max-width:1200px){
    .div_img{
        position: absolute;
        left: -70px;
    }
    .h3 {
        font-size: var(--size-xs);
    }
    .btn{
        font-size: var(--size-xs);
    }
    .img{
        width: 95%;
    }
    
}
  



@media (max-width: 992px) {
    .down {
        flex-direction: column-reverse;
        align-items: center; /* 水平置中 */
        justify-content: center;
    }

    .div_img {
        position: absolute; 
        left: auto; 
        top: -80px;
    }

    .word{
        margin-top: 370px;
        width: 100%;
        padding: var(--margin-big) ;

    }
}


@media (max-width: 600px) {
    .down {
        flex-direction: column-reverse;
        align-items: center; /* 水平置中 */
        justify-content: center;
       
    }
    .div_img {
        position: absolute;
        transform: none; /* 移除所有變形 */
        margin: 0px;
        width: 100%;
    }
    .word{
        width: 100%;
        padding: var(--margin-big) var(--margin-s) ;
        margin-top: 260px;

    }
}

@media (max-width: 480px) {
    .div_img {
        position: static;
        transform: none; /* 移除所有變形 */
        margin: 0px;
        width: 100%;

    }
    .word{
        position: relative;
        top: -80px;
        margin-top: 0px;
        width: 100%;
        padding: var(--margin-big) var(--margin-s) ;

    }
}