.bg{
    width: 100%;
    padding: var(--margin-big) 0px;
    position: relative;
    overflow: hidden;

}
.bgBefore {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #576e614d;
    z-index: 0;
    backdrop-filter: blur(var(--blur, 0px));
    -webkit-backdrop-filter: blur(var(--blur, 0px)); /* Safari */
    transition: all 2s ease-in-out;
    /* filter 的值由 Framer Motion 控制 */
}

.down{
    display: flex;
    align-items: center;
    justify-content: right;
    flex-direction: row;
    margin-bottom: var(--margin-big);
    position: relative;
    z-index: 2;  /* 確保內容在最上層 */
}

.blog{
    width: 100%;
    flex-wrap: wrap;
    grid-gap: var(--margin-big) var(--margin-m);
    display: flex;
    flex-direction: row;
    
}

/* home */
.home{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    width: 100%;
    gap: var(--margin-big);
}
.left{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: var(--margin-m);
}
.book_box{
    width: 100%;

}
.book{
    width: 100%;
    color: var(--text-ttitle-color);
    height: auto;
}
.btn{
    background-color:rgba(240, 248, 255, 0);
    cursor: pointer;
    color: var(--text-p-color);
    padding: 10px 30px;
    border: 1.5px  solid var(--text-p-color);
    border-radius: var(--border-radius);
    font-size:var(--size-s);
    letter-spacing: 0.1rem;
    font-weight:500;
    width:88%;
    height: auto;    
    transition: all 0.3s ease-in-out;
    margin-top: var(--margin-s);
}
.btn:hover{ 
    background-color:var(--btn-color);
    color: var(--bg-color);
}

.right{
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    gap: var(--margin-m);
}
@media (max-width: 900px) {
    .home{
        display: flex;
        flex-direction: column-reverse;
        justify-content:space-between;
        align-items: center;
        width: 100%;
        gap: var(--margin-big);
    }
    .left{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: var(--margin-m);
        align-items: center;
    }
    .book_box{
        width: 70%;
        display: none;
    }
    .btn_box{
        width: 100%;
    }
    .btn{
        width: 100%;
    }
}


@media (max-width: 690px) {
    .blog{
        grid-gap: var(--margin-s);
        
    }
}