.bg{
    width: 100%;
    padding: var(--margin-big) 0px;
    position: relative;
    overflow: hidden;
}
.hana{
    position: absolute;
    bottom: 0;
    left: 0;
}

.down{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.text{
    width: calc(33.33% - var(--margin-s)); /* 減掉 gap 的一半 */
    height: auto;
}

.h3{
    color: var(--text-ttitle-color);
    font-size: var(--size-s);
    font-weight: 700;
    letter-spacing: 0.3rem;
    margin-bottom:var(--margin-xs) ;
}

.p {
    color: var(--text-p-color);
    font-size: var(--size-xs);
    font-weight: 500;
    letter-spacing: 0.15rem; /* 調小字距，提升可讀性 */
    text-align: left; /* 左對齊，避免過度拉伸 */
    line-height: 1.2;
    margin: 1rem 0px; /* 讓段落有適當的間距 */

}
.btn{
    background-color:rgba(240, 248, 255, 0);
    cursor: pointer;
    color: var(--text-p-color);
    padding: 10px 30px;
    border: 1.5px  solid var(--text-p-color);
    border-radius: var(--border-radius);
    font-size:var(--size-s);
    letter-spacing: 0.1rem;
    font-weight:500;
    width: 100%;
    height: auto;    
    transition: all 0.3s ease-in-out;
    margin-top: var(--margin-s);
}
.btn:hover{ 
    background-color:var(--btn-color);
    color: var(--bg-color);
}

@media (max-width:1200px){
    .hana{
        transform: scale(0.8);
        bottom: -20px;
        left: -30px;
    }
}
  


@media (max-width: 992px) {
    .hana{
        display: none;
    }
}


@media (max-width: 576px) {

}