.card{
    width: calc(33.33% - var(--margin-s)); /* 減掉 gap 的一半 */
    height: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.div_img{
    position: relative;
    width: 100%; 
    aspect-ratio: 1/1;
    z-index: 1;
    overflow: hidden;
    margin-bottom: var(--margin-s);
    background-color: aqua;
}
.div_img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--img-color);
    opacity: 0.4;
    z-index: 2;
}
.img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* 填滿容器，保持比例，可能會裁切 */

}

.word{
    color: var(--text-ttitle-color);
    font-size: var(--size-s);
    font-weight: 700;
    letter-spacing: 0.3rem;
}

.btn{
    display: none;
}

@media (max-width:1200px){
}
  


@media (max-width: 992px) {
    .btn{
        display: block;
    }
    .card{
        width: 100%;
    }
}


@media (max-width: 576px) {

}
