.container {
    width: 1170px;
    margin: 0 auto;
  }

.ad {
    color: var(--bg-block-color);
    width: 100%;
    height: auto;
    overflow: hidden;
    margin: var(--margin-big) 0px;
    
    
}

@media (max-width:1200px){

  .container{
      width: 960px;
  }
}

/* 平板 */
@media (max-width: 992px) {

  .container{
    width: 85%;
  }
}

/* 手機 */
@media (max-width: 576px) {
    .container {
        width: 100%; 
      }
    .ad {
        margin: 0px 0px var(--margin-big) 0px;
        width: 100%; 
    }

}
