.card {
    text-decoration: none;
    width: calc( (100% - var(--margin-m)*2)/3);
    background-color: var(--bg-shop-color);
    margin: var(--margin-xs) 0px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    display: flex;
    flex-direction: column; 
    overflow: hidden;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
.card:hover{
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2); /* 滑鼠懸停時增加陰影，強調層次感 */
    transform: translateY(-3px); /* 微微上移，營造浮起的感覺 */
}
.one_card {
    text-decoration: none;
    width: 100%;
    background-color: var(--bg-shop-color);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    display: flex;
    flex-direction: column; 
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
.one_card:hover{
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2); /* 滑鼠懸停時增加陰影，強調層次感 */
    transform: translateY(-3px); /* 微微上移，營造浮起的感覺 */
}


.img_div{
    width: 100%;
    aspect-ratio: 1/1;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.img_div::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--img-color);
    opacity: 0.3;
    z-index: 2;
}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* 讓圖片填滿容器，但保持比例 */
}

.content{
    width: 100%;
    padding: var(--margin-xs);
    flex-grow: 1; /* 讓內容區域撐開，但不影響圖片 */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.name{
    color: var(--text-ttitle-color);
    font-weight: 700;
    font-size: var(--size-s);
    word-wrap: break-word; /* 遇到長單詞自動換行 */
    overflow-wrap: break-word; /* 讓長字串換行 */
    white-space: normal; /* 允許換行 */
    
}

.down{
    margin-top: var(--margin-xs);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.h4{
    color: var(--text-p-color);
    font-size: var(--size-s);
    font-weight: 500;
}
.icon_div{
    display: flex;
    gap: var(--margin-xs);
}
.loveicon{
    color: var(--text-ttitle-color);
}
.icon{
    color: var(--text-p-color);
    cursor: pointer;
}

.icon:hover{
    color: var(--text-ttitle-color);
}


@media (max-width: 992px) {
    .card{
        width: calc( (100% - 32px)/2);
        background-color: var(--bg-shop-color);
        height: auto;
        margin: 1px 0px;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
    } 
    .icon_div{
        display: flex;
        justify-content: right;
        gap: 12px;
    }
    .content{
        padding: 12px;
        

    }
     

}
@media (max-width: 800px) {
    .card{
        width: calc( (100% - 12px)/2);
    } 
    .one_card{
        width: calc( (100% - 12px)/2);
        background-color: var(--bg-shop-color);
        height: auto;
        margin: 1px 0px;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
    } 

    

}

@media (max-width: 370px) {

    .icon_div{
        gap: 6px;
    }
    

}


