/* 電腦 */
html {
  font-size: 16px;
}

.container {
  width: 1170px;
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: inherit;
}

.dark_light {
  position: fixed;
  right: var(--margin-xs);
  bottom: var(--margin-xs);
  background-color: var(--bg-shop-color);
  z-index: 6;
  border-radius: 50%;
  width: calc(var(--margin-s)*2);
  height: calc(var(--margin-s)*2);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  cursor: pointer;

}
.sun{
  color: var(--text-header-color);
}



@media (max-width:1200px){
  html{
      font-size: 16px;
      
  }
  .container{
      width: 960px;
  }
}

/* 平板 */
@media (max-width: 992px) {
  html {
    font-size: 15px; 
  }
  .container{
    width: 85%;
  }
}

/* 手機 */
@media (max-width: 576px) {
  html {
    font-size: 14.5px; 
  }
  
  .container {
    width: 95%; 
  }
}



